Hello world

<% @planner_recipes.each do |recipe| %>
  <% if recipe.date > Date.today %>
  <div class="planner-day">
    <% @planned_recipe = PlannedRecipe.find(recipe.id) %>
    <%= recipe.date %>
    <%= simple_form_for @planned_recipe, method: :patch do |f| %>
      <%= f.association :recipe, include_blank: true, selected: 0 %>
      <%= f.submit "Pick recipe", class: "btn btn-primary" %>
    <% end %>
    <%= recipe.recipe.name %>
  </div>
  <% end %>
<% end %>
