<div class="pages-header">
  <h2 class="text-center m-5 page-title">Shopping List</h2>
</div>


<div class="container">
  <div class="d-flex flex-column mt-3 mx-3" data-controller="shopping-list">
    <% @shopping_list.each do |shopping, num| %>
      <% if num > 0 %>
      <% @fridge_item = FridgeItem.new %>
        <div id="shopping-row" class="row d-flex justify-content-between my-1" data-shopping-list-target="item">
          <div class="d-inline w-100 ml-2">
            <%= shopping %>
          </div>
          <div class="d-inline text-right">
            <%= form_for @fridge_item, url: add_fridge_item_path(shopping), method: :get do |f| %>
              <%= f.text_field :quantity, as: :integer, class: 'mt-0 w-25', value: num, placeholder: num %>
              <span class="inline mr-2"><%= Ingredient.where(name:shopping).first.unit unless Ingredient.where(name:shopping).first.unit == "number" %></span>
              <%= button_tag class: 'border-none align-middle', type: 'submit' do %>
                 <p class="btn-shoppinglist general-button-blue text-white mb-0 mr-0">Add to fridge<p>
                <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
