
<div class="pages-header">
  <h2 class="text-center mb-5 page-title">My fridge</h2>
</div>

<div class="container my-5 fridge-list">
  <div class="row fridge-container">
    <div class="col-10">
      <ul>
        <% @fridge_items.each do |item| %>
          <% if item.quantity.to_i > 0 %>
            <div class=" " >
              <li class= "fridge m-3 p-0"><strong><%= item.quantity %> <% unless item.ingredient.unit == "number" %><%= item.ingredient.unit %><% end %></strong> x <%= item.ingredient.name %> </li>
            </div>
          <% end %>
        <% end %>
        </ul>
    </div>
  </div>
</div>

<div class="closingbar"></div>

<div class="button-show d-flex flex-column justify-content-around">
  <%= link_to "Add to fridge", new_fridge_item_path, class: "btn general-button-blue mb-3" %>
  <%= link_to "Back", recipes_path(@recipes), class: "btn btn-showpage" %>
</div>
