<div class="addrecipeform">
  <div class="container text-center">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :instructions %>
      <%= f.association :ingredients, collection: Ingredient.all, input_html: {multiple: true, data: { controller: 'select2' }} %>
      <%= f.input :cooking_time %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "add recipe", class: "general-button-blue mt-4" %>
    <% end %>
  </div>
</div>
