<div class="pages-header">
<h2 class="text-center m-5 page-title">My Recipes</h2>
</div>

<div class="banner-recipe mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.cnn.com/cnnnext/dam/assets/201117152746-cookgiftslead-live-video.jpg);">
  <div class="container ml-3">
    <h2 class="text-white">Add your own recipe</h2>
    <p>Something nice here</p>
    <%= link_to "Add Recipe", new_recipe_path, class: "general-button-green text-white" %>
  </div>
</div>

<div class="bg-color-search-recipe">
  <div class="d-flex flex-column align-items-center text-center">
    <div class="search-container-recipe d-flex flex-column" id="search-recipe-index">
      <h2 class="">Or find recipes you saved</h2>
        <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Ingredient or recipe name"
          %>
          <%= submit_tag "Search", class: "general-button-blue mb-3" %>
        <% end %>
    </div>
  </div>
</div>

<div class="pages-header">
  <h2 class="text-center m-5 pb-3 pt-3">My Recipes</h2>
</div>

<div class="content">
<br><br>
  <div class="cards">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <%= link_to "", recipe_path(recipe), class: "stretched-link" %>
      <%= cl_image_tag recipe.photo.key, class: "rounded index-img", width: "100%", height: '200px', alt: "an image of a recipe" %>
      <h5 class="card-title pt-4 text-center"><%= recipe.name %></h5>
      <p class="card-text text-center pb-4"><%= recipe.cooking_time %> mins</p>
    </div>
    <% end %>
  </div>
</div>
