<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a recipe"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "Add Recipe", new_recipe_path %>



    <div class="content">
      <div class="cards">
      <% @recipes.each do |recipe| %>
        <div class="card text-white">
          <h5 class="card-title"><%= recipe.name %></h5>
           <p class="card-text"><%= recipe.instructions %></p>
           <%= recipe.cooking_time %>
           <p class="card-text"><%= recipe.description %></p>
           <%= link_to "view details", recipe_path(recipe), class: "btn btn-primary" %>
        </div>
        <% end %>
        </div>
    </div>
