<div class="pages-header">
  <h2 class="text-center m-5">My Recipes</h2>
</div>


<div class="text-center mt-5 mb-3 ">
  <%= link_to "Add Recipe", new_recipe_path, class: "general-button-green text-white" %>
</div>



  <div class="recipe pb-0 pt-1 pb-5 text-center">
    <%= form_tag recipes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a recipe"
      %>
      <%= submit_tag "Search", class: "general-button-blue" %>
    <% end %>
  </div>

<div class="content">
  <div class="cards">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <%= link_to "", recipe_path(recipe), class: "stretched-link" %>
      <%= cl_image_tag recipe.photo.key, class: "rounded index-img", width: "100%", height: '200px', alt: "an image of a recipe" %>
      <h5 class="card-title pt-4 pb-0 text-center"><%= recipe.name %></h5>
      <p class="card-text text-center"><%= recipe.cooking_time %> mins</p>
      <ul class="list-inline text-center">
      <% recipe.ingredients.each do |ingredient| %>
        <li class="list-inline-item"><%= ingredient.name %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    </div>
</div>
