<div class="recipe pb-0 pt-1">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Add Recipe", new_recipe_path, class: "btn btn-success mt-3" %>
</div>

<div class="content">
  <div class="cards">
  <% @recipes.each do |recipe| %>
    <div class="card text-white">
      <h5 class="card-title"><%= recipe.name %></h5>
      <p class="card-text"><%= recipe.cooking_time %> mins cooking time</p>
      <%= link_to "", recipe_path(recipe), class: "stretched-link" %>
      <ul class="list-inline">
      <% recipe.ingredients.each do |ingredient| %>
        <li class="list-inline-item"><%= ingredient.name %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    </div>
</div>
