<div class="pages-header">
  <h2 class="text-center m-5 page-title">News Feed</h2>
</div>

<div class="text-center mt-5 mb-3 ">
  <%= link_to "Share your latest creation!", new_post_path, class: "general-button-green text-white" %>
</div>

<% @posts.each do |post| %>
  <div class="card-post p-0 mt-5">
    <%= cl_image_tag post.recipe.photo.key, class: "rounded index-img", width: "100%", height: '200px', alt: "an image of a recipe" %>
    <div class="p-3">
      <p><%= cl_image_tag post.user.photo.key, class: "avatar", alt: "user_image" %>
      <%= post.user.username %> - <%= post.date.strftime('%a %d %b %Y')%></p>
      <em><%= link_to post.recipe.name, recipe_path(post.recipe), class: 'post-link' %></em><br><br>
      <h5><strong><%= post.user.username %></strong>  <%= post.content %></h5>
      <% if @comments.empty? %>
        <p>Be the first to leave a comment</p>
      <% else %>
        <ul class="comments">
          <% @comments.where(post: post).each do |comment| %>
            <li><strong><%= comment.user.username %></strong>  <%= comment.content %></li>
          <% end%>
        </ul>
      <% end %>
      <div class="form-inline">
        <%= simple_form_for [ post, @comment ], wrapper: :inline_form, html: { class: 'form-inline' }  do |f| %>
          <%= f.input :content, label: false, placeholder: "Leave a comment..." %>
          <%= f.submit "Post", class: "general-button-green px-3 py-1 ml-3" %>
        <% end %>
      </div>
    </div>
  <% end %>
