<h1>Welcome back <%= current_user.username %></h1>
<h2>See what your friends are up to:</h2>

<%= link_to "share your latest creation!", new_post_path %>

<% @posts.each do |post| %>
  <div class="card mt-5">
    <h1><%= post.content %></h1>
    <%= link_to post.recipe.name, recipe_path(post.recipe)%>
    <p><%= post.user.username %></p>
    <p><%= post.date %></p>
  </div>
<% end %>
